TODO.md
*candlestick_and_trace.html
*temp-plot.html
*.ipynb_checkpoints
*__pycache__
*common
*ipython_log.py

/note/
!/note/stockplot_note
/note/stockplot_note/*.html
!/note/candle_plot_movable/*.html
!/note/stockplot_append_pop/*.html
!/note/py_candle_chart/*.html
!/note/picture

/test/
!/test/stockplot_quickset.py
