TODO.md
*candlestick_and_trace.html
*temp-plot.html
*.ipynb_checkpoints
*__pycache__
*ipython_log.py

/note/*
!/note/
!/note/picture
!/note/stockplot_note/
!/note/candle_plot_movable/
!/note/stockplot_append_pop/
!/note/py_candle_chart/
!/note/heikin/
!/note/*.py
